@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Music Store</h1>
    <div>
        <div class="text-center">
            <img src="\images\welcome.png" style="width:100%; object-fit:cover;" />
        </div>
    </div>
    <p>

    </p>
</div>
